/* Ajustes generales */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Estilos generales del navbar */
.navbar-custom {
  background-color: #1c2a45;
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600; /* Semibold */
  color: rgb(255, 255, 255);
}

.navbar-brand:hover {
  color: white; /* Mantiene el color blanco al pasar el cursor */
}

/* Contenedor principal del héroe (video y contenido) */
.hero {
  position: relative;
  height: 100vh; /* Ocupar toda la altura de la ventana */
  overflow: hidden;
}

/* Video de fondo */
.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
  filter: blur(2px); /* Si deseas mantener el efecto borroso */
}

/* Contenido sobre el video */
.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; /* Ocupar el 100% de la altura del video */
  color: white;
  background-color: rgba(28, 42, 69, 0.6); /* Fondo con transparencia */
  text-align: center;
  display: flex;
  justify-content: center; /* Centramos el contenido horizontalmente */
  align-items: center; /* Centramos el contenido verticalmente */
  padding: 2em;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra para el fondo */
}
.escrito h1 {
  font-size: 2em; /* Tamaño del título (más pequeño) */
}

.escrito p {
  font-size: 1em; /* Tamaño del párrafo (más pequeño) */
}

.escrito a {
  font-size: 0.9em; /* Tamaño del botón (más pequeño) */
}

/* Ajustar los tamaños de las fuentes según el tamaño de la pantalla */
.hero-content h1 {
  font-size: 4vw; /* Usamos vw para hacer que el texto escale con el tamaño de la pantalla */
  margin: 0;
}

.hero-content p {
  width: 300px; /* Ajusta el ancho según tu necesidad */
  font-size: 1.5em;
  margin: 0.5em 0;
}

.hero-content a {
  display: inline-block;
  padding: 0.8em 2em;
  margin-top: 1.5em;
  font-size: 1.2vw; /* Tamaño dinámico del botón */
  background-color: #ffffff;
  color: #000;
  text-decoration: none;
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

/* Efecto al pasar el ratón */
.hero-content a:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra */
}

/* Media Queries para ajustar el contenido en pantallas más pequeñas */

/* Dispositivos pequeños (teléfonos) */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 8vw; /* Ajustamos el tamaño de la fuente para pantallas pequeñas */
  }

  .hero-content p {
    font-size: 4vw;
  }

  .hero-content a {
    font-size: 3vw;
    padding: 0.6em 1.5em;
  }
}

/* Dispositivos medianos (tablets) */
@media (max-width: 992px) {
  .hero-content h1 {
    font-size: 6vw; /* Un poco más grande que en teléfonos pero más pequeño que en escritorio */
  }

  .hero-content p {
    font-size: 2.5vw;
  }
  .hero-content a {
    font-size: 2vw;
    padding: 0.7em 1.8em;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

/* Efecto al pasar el ratón */
.hero-content a:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra */
}

}

/*---------------------------------- Servicios ------------------------------------*/
.servicios {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: #f8f9fa;
}

.servicios h1 {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.servicios-cards {
  display: flex;
  justify-content: center; /* Centra las tarjetas */
  gap: 10px; /* Espacio entre las tarjetas */
  background-color: #1c2a45;
  padding: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 326px;  /* Ancho fijo de las tarjetas */
  height: 687px; /* Altura fija de las tarjetas */
  margin: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-bottom-right-radius: 80px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1); /* Sombra envolvente */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

.card:hover {
  transform: scale(1.05); /* Aumenta el tamaño un 5% */
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.8); /* Agranda un poco la sombra */
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Capa de sombra */
  border-bottom-right-radius: 80px;
  z-index: 1;
}

.card-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.card p {
  font-size: 15px;
  line-height: 1.875em;
  text-align: left;
}

.card1 {
  background-image: url('assets/Photos/1.png');
}

.card2 {
  background-image: url('assets/Photos/2.png');
}

.card3 {
  background-image: url('assets/Photos/3.png');
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .servicios-cards {
    flex-wrap: nowrap; /* Evita que las tarjetas se envuelvan */
    overflow-x: auto; /* Permite el desplazamiento horizontal */
  }

  .card {
    flex: 0 0 auto; /* Evita que las tarjetas se reduzcan */
    width: 80%; /* Ancho del 80% en pantallas pequeñas */
    height: auto; /* Altura automática */
  }
}


/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .servicios-cards {
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: center; /* Centra las tarjetas en columna */
  }

  .card {
    width: 90%; /* Ancho del 90% en pantallas pequeñas */
    height: auto; /* Altura automática */
  }
}

/*---------------------------------- Capacitaciones empresariales ------------------------------------*/

.capacitaciones{
    width: 100%;
    padding: 50px;
    margin: 50px;
    background-color: #f8f9fa;
    text-align: center; 
}


.capacitaciones button {
  display: inline-block;
  padding: 0.8em 2em;
  margin-top: 1.5em;
  font-size: 1.2vw; /* Tamaño dinámico del botón */
  background-color: #e2e2e2;
  color: #000;
  text-decoration: none;
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

/* Efecto al pasar el ratón */
.capacitaciones button:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra */
}
.capacitaciones button:hover {
  background-color: #ffffff;
}
  .capacitaciones-informacion {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .imgCap {
    background-image: url('./assets/Photos/asesoria.png');
    width: 490px; /* Ancho fijo */
    height: 660px; /* Altura fija */
    background-size: contain; /* Asegura que la imagen esté completa */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}






  .capacitaciones-informacion div {
    width: 50%; 
    padding: 40px;
  }

  .capacitaciones-informacion h1 {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .capacitaciones-informacion p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 50px;
    color: #000;
  }

  .capacitaciones-informacion button {
    display: inline-block;
    padding: 0.8em 2em;
    margin-top: 1.5em;
    font-size: 1.2vw; /* Tamaño dinámico del botón */
    background-color: #f8f9fa;
    color: #000;
    text-decoration: none;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
  }
 
  /* Efecto al pasar el ratón */
  .capacitaciones-informacion button:hover {
      transform: scale(1.1); /* Aumenta el tamaño */
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra */
  }
  .capacitaciones-informacion button:hover {
    background-color: #ffffff;
  }

  @media (max-width: 768px) {
    .capacitaciones-informacion {
      flex-direction: column;
    }

    .imgCap {
      width: 100%;
      margin: 0 0 20px 0;
    }

    .capacitaciones-informacion div {
      width: 100%;
    }
  }

/*---------------------------------- LLAMA AHORA ------------------------------------*/

.llamaAhora{
    width: 100%;
    padding: 50px;
    background-color: #1c2a45;
    color: rgb(255, 255, 255);
    text-align: center; 
}
.blanco {
  width: 100%;
  padding: 50px;
  background-color: #ffffff;
  color: rgb(255, 255, 255);
  text-align: center; }
  
  .blanco2 {
    width: 100%;
    padding:  100px;
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    text-align: center; }
/*---------------------------------- LLAMA AHORA ------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.contact-section {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  font-family: Arial, sans-serif;
  background-color: #1c2a45;
  color: #ffffff;
}

.contact-info {
  max-width: 300px;
}

.contact-info h2 {
  margin-bottom: 20px;
}

.contact-info p, .contact-info a {
  margin-bottom: 10px;
  color: #ffffff;
}


.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-top: 10px;
}

.contact-form input, 
.contact-form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}

.contact-form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #1C3D6E;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #ffffff;
  color: #000;
}

/*---------------------------------- Sobre Nosotros ------------------------------------*/



  /* Estilo de la sección "Sobre Nosotros" */
  .about {
    padding: 150px 20px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    background-color: #ffffff; /* Fondo blanco para la sección */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    border-radius: 8px; /* Bordes redondeados */
  }
  
  .about h1 {
    color: #1C3D6E; /* Color de título */
    font-size: 2.5em; /* Tamaño de fuente */
    margin-bottom: 20px; /* Espaciado debajo del título */
  }
  
  .about p {
    color: #000000; /* Color del texto */
    font-size: 1.2em; /* Tamaño de fuente */
    line-height: 1.5; /* Altura de línea para mejor legibilidad */
  }
  
  /* Botones */
  button {
    background-color: #007bff; /* Color del botón */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor tipo puntero */
  }
  
  button:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
  }
 /* Estilo del banner */
 .banner {
  background-image: url('./assets/Photos/Banner.png');
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center 3%; /* Desplaza un poco hacia arriba */
  background-repeat: no-repeat;
}
.sub {
    font-size: 1.5em; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    color: #1C3D6E; /* Color del texto */
    margin-top: 20px; /* Espacio superior */
    text-align: center; /* Centrar el texto */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.contact-section2 {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  font-family: Arial, sans-serif;
  background-color: #1C3D6E;
  color: #ffffff;
}

.contact-info2 {
  max-width: 300px;
}

.contact-info2 h2 {
  margin-bottom: 20px;
}

.contact-info2 p, .contact-info a {
  margin-bottom: 10px;
  color: #ffffff;
}


.contact-form2 form {
  display: flex;
  flex-direction: column;
}

.contact-form2 label {
  margin-top: 10px;
}

.contact-form2 input, 
.contact-form2 textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}

.contact-form2 button {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form2 button:hover {
  background-color: #000000;
  color: #ffffff;
}
.form-container {
  background-color: #f8f9fa; /* Cambia el color de fondo aquí */
  border: 1px solid #ccc; /* Borde del contenedor */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  max-width: 1500px; /* Cambia el ancho máximo aquí */
  width: 90%; /* Esto permite que el contenedor use hasta el 90% del ancho de la pantalla */
  margin: 20px auto; /* Centra el contenedor */
}
